

html,
body {
  height: 100dvh;
  margin: 0;
  /* 速記時のpointerイベント落ちに効くかと思ったけどそうでもなさそう
  user-select: none;
  touch-action: none;
  overflow-y: hidden; */
}
/* 速記時のpointerイベント落ちに効くかと思ったけどそうでもなさそう
* {
  user-select: none;
  -webkit-user-select: none;
} */
